/* Franklin ITC Pro Font Family */
@font-face {
  font-family: 'Franklin ITC Pro';
  src: url('./fonts/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-1.ttf') format('truetype'),
       url('./fonts/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-3.woff') format('woff'),
       url('./fonts/Franklin-ITC-Pro-Light/b147bee6-eb48-46e1-86e1-2538a46794b6-2.eot') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Franklin ITC Pro';
  src: url('./fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-1.ttf') format('truetype'),
       url('./fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-3.woff') format('woff'),
       url('./fonts/Franklin-ITC-Pro-Thin/56bcaf21-92ef-486a-836d-19f261762e57-2.eot') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Franklin ITC Pro';
  src: url('./fonts/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-1.ttf') format('truetype'),
       url('./fonts/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-3.woff') format('woff'),
       url('./fonts/Franklin-ITC-Pro-Bold/e9e4c4dc-e548-4fef-9aa1-80c9cd0f02ce-2.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Postoni Font Family */
@font-face {
  font-family: 'Postoni';
  src: url('./fonts/Postoni-Standard-Regular/PostoniStandard-Regular.ttf') format('truetype'),
       url('./fonts/Postoni-Standard-Regular/PostoniStandard-Regular.woff') format('woff'),
       url('./fonts/Postoni-Standard-Regular/PostoniStandard-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Postoni';
  src: url('./fonts/Postoni-Standard-Bold/PostoniStandard-Bold.ttf') format('truetype'),
       url('./fonts/Postoni-Standard-Bold/PostoniStandard-Bold.woff') format('woff'),
       url('./fonts/Postoni-Standard-Bold/PostoniStandard-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Postoni';
  src: url('./fonts/Postoni-Standard-Italic/PostoniStandard-Italic.ttf') format('truetype'),
       url('./fonts/Postoni-Standard-Italic/PostoniStandard-Italic.woff') format('woff'),
       url('./fonts/Postoni-Standard-Italic/PostoniStandard-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Postoni';
  src: url('./fonts/Postoni-Standard-Bold-Italic/PostoniStandard-BoldItalic.ttf') format('truetype'),
       url('./fonts/Postoni-Standard-Bold-Italic/PostoniStandard-BoldItalic.woff') format('woff'),
       url('./fonts/Postoni-Standard-Bold-Italic/PostoniStandard-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Postoni Display variants */
@font-face {
  font-family: 'Postoni Display';
  src: url('./fonts/Postoni-Display-Regular/PostoniDisplay-Regular.ttf') format('truetype'),
       url('./fonts/Postoni-Display-Regular/PostoniDisplay-Regular.woff') format('woff'),
       url('./fonts/Postoni-Display-Regular/PostoniDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Postoni Display';
  src: url('./fonts/Postoni-Display-Regular-Italic/PostoniDisplay-RegularItalic.ttf') format('truetype'),
       url('./fonts/Postoni-Display-Regular-Italic/PostoniDisplay-RegularItalic.woff') format('woff'),
       url('./fonts/Postoni-Display-Regular-Italic/PostoniDisplay-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Postoni Titling */
@font-face {
  font-family: 'Postoni Titling';
  src: url('./fonts/Postoni-Titling-Regular/PostoniTitling-Regular.ttf') format('truetype'),
       url('./fonts/Postoni-Titling-Regular/PostoniTitling-Regular.woff') format('woff'),
       url('./fonts/Postoni-Titling-Regular/PostoniTitling-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 